.el-dropdown-menu {
  padding: 10px 0;
  margin: 5px 0;
  background-color: #fff;
  border: 1px solid #ebeef5;
  border-radius: 4px;
  -webkit-box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
}

.el-dropdown-menu__item {
  list-style: none;
  line-height: 36px;
  padding: 0 20px;
  margin: 0;
  font-size: 14px;
  color: #606266;
  cursor: pointer;
  outline: none;
  &:hover {
    background-color: #ecf5ff;
    color: #66b1ff;
  }
}

.el-menu-item:focus {
  outline: none;
}

.el-table thead {
  color: #443f3f;
  font-weight: 500;
}

.el-input .el-input__inner {
  height: 32px;
}

.el-message {
  top: 120px !important;
  left: auto !important;
  transform: translateX(0) !important;
  right: 20px;
}

.el-button {
  padding: 10px 16px !important;
}

.btn_box {
  text-align: center;
  .el-button {
    width: 100px;
    height: 40px;
    margin: 10px 40px 0 0;
  }
  .deep {
    background-color: rgba(15, 76, 129, 1);
    border: transparent;
    color: rgba(255, 255, 255, 1);
  }
}

.el-dialog {
  .el-dialog__header {
    border-bottom: 1px solid #dddfe7;
  }
}

.el-select {
  width: 100%;
  .el-input__icon {
    height: 32px;
    line-height: 32px;
  }
}

.month_select {
  width: 160px;
  margin: 10px 0 0 60px;
}